*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #548687;
    text-align:center;
}
.container{
   height:70vh; 
   display: flex;
   justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin; /*vmin=1% of the viewport's dimension*/
    width: 60vmin;;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);

    font-size:8vmin;
    color:#f4ebf1;
    background-color: #2f3d43;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#20333e;
    color: white;
    border-radius: 50rem;
    border: none;
    font-weight:bold;
}

#new-btn{
    padding: 1rem;
    font-size: 1rem;
    background-color:#2e3c3e;
    color: rgb(163, 120, 138);
    border-radius: 50rem;
    border: none;
    margin-top: 250px;
    font-weight:bold;
    
}


#msg{
    color:#ffffc7;
    font-size: 2rem;
    margin-top: 33px;
    
    
    
}
.msg-container{
    height:100vmin;
    disply:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
.hide{
    display: none;
}